# Install these yourself
#torch
#torchvision
#pytorch-lightning

# Scientific
nnAudio==0.1.5a0
librosa
soundfile
resampy
imageio
Pillow
numpy
matplotlib
seaborn

# CLI & Logging
click
loguru
test-tube
colorama
pyfiglet

# Misc
tqdm
joblib
natsort
addict
boltons
deprecation
pyyaml
cached-property
more-itertools

# Compatibility stuff
numba==0.48.0
