# Install these yourself
#torch
#torchvision
#pytorch-lightning

# Scientific
nnAudio==0.2.0
#git+https://github.com/tasercake/nnAudio@27f3b46aff0061077a43957259ba6355d520b6bf#subdirectory=Installation
librosa
soundfile
resampy
imageio
Pillow
numpy
matplotlib
seaborn

# CLI & Logging
click
loguru
test-tube
colorama
pyfiglet

# Misc
tqdm
joblib
natsort
addict
boltons
deprecation
pyyaml
cached-property
more-itertools

# Compatibility stuff
numba==0.48.0
